<div class="panel panel-basic-alt maxl pal bg-neutral-10">
  <div class="panel-body paxxl">
    {{svg "@npmcorp/pui-css-meta/plan-enterprise.svg" class="img-responsive"}}
    <h3 class="em-low txt-c"><em><strong>Features</strong> of<br>npm Enterprise</em></h3>
    <div class="media">
      <div class="media-left media-middle">
        {{icon "@npm/glyphish/svg/g6/Normal/720-keyhole@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Host npm behind your firewall
      </div>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        {{icon "@npm/glyphish/svg/g7/Normal/1062-layers-2@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Selectively mirror the npm registry
      </div>
    </div>
    <div class="media">
      <div class="media-left  media-middle">
        {{icon "@npm/glyphish/svg/g7/Normal/1072-terminal@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Combine open source &amp; private code
      </div>
    </div>
    <div class="media">
      <div class="media-left  media-middle">
        {{icon "@npm/glyphish/svg/g6/Normal/787-browser-windows@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Integrate with custom workflows and tools
      </div>
    </div>
  </div>
</div>
