<div class="panel panel-basic-alt maxl pal bg-neutral-10">
  <div class="panel-body paxxl">
    {{svg "@npmcorp/pui-css-meta/wombat-moving-boxes.svg" class="img-responsive"}}
    <h3 class="em-low txt-c"><em><strong>Features</strong> of Organizations</em></h3>
    <div class="media">
      <div class="media-left media-middle">
        {{icon "@npm/glyphish/svg/g6/Normal/807-package@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        World Class<br>Package Management
      </div>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        {{icon "@npm/glyphish/svg/g6/Normal/720-keyhole@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Unlimited<br>Private Packages
      </div>
    </div>
    <div class="media">
      <div class="media-left  media-middle">
        {{icon "@npm/glyphish/svg/g6/Normal/895-user-group@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Unlimited<br>Teams
      </div>
    </div>
    <div class="media">
      <div class="media-left  media-middle">
        {{icon "@npm/glyphish/svg/g6/Normal/805-mailbox@2x.svg" class="media-object icon icon-h2 type-neutral-6"}}
      </div>
      <div class="media-body pll">
        Dedicated<br>Namespace
      </div>
    </div>
  </div>
</div>
